# .NET
bin/
obj/
*.user
*.suo
.vs/
*.swp
*.sln.DotSettings.user

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Rider / JetBrains
.idea/
*.iml

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Build output
out/
publish/

# Environment
.env
*.env.local
appsettings.Development.json
